@import url("https://vercel-ui-preview.netlify.app/component-lib/all-comp.css");
@import url("https://vercel-ui-preview.netlify.app/component-lib/all-comp.css");
* {
	margin: 0;
	box-sizing: border-box;
	font-size: 100%;
}
html {
	font-size: 62.5%;
}
body {
	overflow: hidden;
	background-color: var(--primary-bg-color);
}

.header {
	height: 8rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	box-shadow: 0 5px 3px -3px var(--box-shadow);
}
.header-sub-container {
	display: flex;
	align-items: center;
	gap: 0 2rem;
}
.search-container {
	display: flex;
	gap: 0;
	background-color: var(--hover-color);
}
.search-bar {
	padding: 1rem;
	border: 0;
	border-radius: 8px;
	background-color: var(--hover-color);
}
.search-bar:focus {
	outline: none;
	border-radius: 8px;
}
::-webkit-scrollbar {
	width: 0;
	background: transparent;
}

.grid-50-50 {
	overflow: scroll;
	height: 90vh;
}
.item-section {
	display: flex;
	flex-direction: column;
	justify-self: flex-end;
	gap: 2rem;
	padding: 1rem;
}
.bill-section {
	display: flex;
	flex-direction: column;
	justify-self: flex-start;
	padding: 1rem;
}
.card {
	min-width: 36rem;
}
.card-body {
	width: 100%;
}

hr {
	margin: 0;
}
.item-counter {
	display: flex;
	align-items: center;
}

.bill-item {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 1rem 0;
}
.bill-item-vertical {
	display: flex;
	flex-direction: column;
	padding: 1rem 0;
}
.full-width {
	width: 100%;
}

@media screen and (max-width: 992px) {
	main {
		margin: 0;
		padding: 0;
	}
	.btn-menu {
		display: block;
	}
	.btn-hide {
		display: none;
	}
	.item-section {
		display: flex;
		justify-self: center;
	}
	.bill-section {
		display: flex;
		justify-self: center;
	}
}
