@import url("https://vercel-ui-preview.netlify.app/component-lib/all-comp.css");
@import url("https://vercel-ui-preview.netlify.app/component-lib/all-comp.css");
* {
	margin: 0;
	box-sizing: border-box;
	font-size: 100%;
}
html {
	font-size: 62.5%;
}
main {
	min-height: 100vh;
	font-size: 1.6rem;
	padding: 0 1.6rem;
	display: grid;
	gap: 1.6rem;
	grid-template-rows: auto 1fr 1fr 1fr auto;
}

.header {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	box-shadow: 0 5px 3px -3px var(--box-shadow);
}

.header-sub-container {
	display: flex;
	align-items: center;
	gap: 0 2rem;
}
.btn {
	color: #2d3748;
}
.search-container {
	display: flex;
	gap: 0;
	background-color: var(--hover-color);
}
.search-bar {
	padding: 1rem;
	border: 0;
	border-radius: 8px;
	background-color: var(--hover-color);
}
.search-bar:focus {
	outline: none;
	border-radius: 8px;
}
.hero-section {
	background-color: #e5f2ff;
	border-radius: 10px;
}
.text-section {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	gap: 1rem;
	padding: 2rem;
}
.hero-section .img-responsive {
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}

.top-category {
	padding: 2rem;
}
.category-heading {
	padding: 2rem;
}
.category-item {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 1.6rem;
	padding: 1rem;
	margin: 1rem;
	align-items: center;
	transition: all 0.2s ease-in-out;
}
.category-item:hover {
	cursor: pointer;
	box-shadow: 0 0 5px var(--box-shadow);
	background-color: var(--hover-color);
	transform: scale(1.1);
}
.category-item img {
	width: 12rem;
	height: 12rem;
}

.featured-brand {
	padding: 2rem;
}
footer {
	background-color: #e5f2ff;
	padding: 1.6rem;
}
.badge-parent {
	position: relative;
}
.badge-itself {
	position: absolute;
	top: -1rem;
	right: -1rem;
}
@media screen and (max-width: 850px) {
	.hero-section .img-responsive {
		border-top-right-radius: 0;
		border-bottom-left-radius: 10px;
		border-bottom-right-radius: 10px;
	}
	.btn-menu {
		display: block;
	}
	.btn-hide {
		display: none;
	}
}
